@import 'styles/constants.scss';
@import 'styles/mixins.scss';

.withdraw-options {
  margin-top: 15px;
  .cancel {
    background-color: $keypad-button-cancel;

    &:hover,
    &:focus {
      @include buttonHighlight($keypad-button-cancel);
    }
  }
  .type-toggle {
    background-color: $keypad-button-type;

    &:hover,
    &:focus {
      @include buttonHighlight($keypad-button-type);
    }
  }
  .withdraw {
    background-color: $keypad-button-withdraw;

    &:hover,
    &:focus {
      @include buttonHighlight($keypad-button-withdraw);
    }
  }
}

.dispenser {
  height: 35px;
  border-radius: 5px;
  background-color: black;
  position: relative;
}
