.atm {
  padding-bottom: 50px;

  .atm-header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    display: flex;

    .company-name,
    .datetime {
      flex: 1;
    }

    .datetime {
      text-align: right;
    }
  }

  .atm-content {
    width: 450px;
    padding: 35px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);

    .pin {
      text-align: center;
      font-size: 2rem;
      margin: 0px 0px 10px;
    }

    .large-balance .balance {
      font-size: 2rem;
    }
  }

  .atm-status {
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.3);

    .error-message {
      margin: 0px;
      font-weight: 600;
      text-transform: uppercase;
      color: white;
    }
  }
}
